body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Bubblegum Sans", cursive;
}

/*NAvBAr*/
#header, #navbar {
	background-color: #F1F3FF;
}

#navbar {
	font-family: "Carter One", cursive;
}

 #linkNav{
	color: rgb(88, 88, 88);
	/* color: darkslategray; */
} 

#linkNav:hover{
	/* color: rgb(64, 204, 204); */
	color: rgb(168, 168, 168);
}

#linkNav {
	text-decoration: none;
	margin-left: 15px;
}



/* HEADER */
#header {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

#header-left h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

#header-left p {
	text-align: justify;
}

#header-right {
	display: flex;
	align-items: flex-end;	
}

#header-right img {
	width: 100%; 
	height: 90%;
}



/*BEST*/
#best {
	margin-top: 3.5rem;
}

#bestRight ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

#bestRight li {
	margin: 15px 15px;
	margin-left: 0;
}

#bestRight img {
	float: left; 
	margin-right: 1.5rem;
}

#bestRight h1 {
	font-size: 2rem;
	font-weight: bold;
}

#bestRight p {
	width: 90%;
	text-align: justify;
}

#iconBest {
	color: #0D28A6; 
	padding: 0; 
	margin: 0;
	font-size: 1.7rem;
}

#iconBestArea {
	width: 15px; 
	height: 15px; 
	background-color: #CFD4ED; 
	border-radius: 50%; 
	padding: 0.33rem; 
	margin-right: 25px;
}



/* WHY */

#why {
	margin-top: 0px;
}

#why h1 {
	font-size: 1.7rem;
	font-weight: bold;
}

#why-content {
	height: 250px;
	border-radius: 1.5rem;
}

#why-content h3 {
	font-size: 1rem;

}

#why-content p {
	text-align: justify;
}



/* TESTIMONI */
#testimoni {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: #cfd4ed;
  /* background-color: #a5d1a8c9; */
}

#testimoni-carousel {
  padding: 2px 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carouselnya {
  padding: 2px 0px;
  width: 100%;
  height: 15rem;
  background: #f1f3ff;
  border-radius: 1.5rem;
}

#ratingnya {
  width: 50%;
  height: 50%;
  margin-bottom: 1em;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
	display: block;
    margin: auto;
	margin-top: 10px;
    height: 32px;
    width: 32px;
    background:#F1F3FF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background:#51fa03;
    border: none;
}

/* .box {
	width: 150px;
	height: 610px;
	background-color:  #1e1e26;
	border-radius: 10px;
	box-shadow: #0D28A6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}

.model {
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

.details p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	color: #6a6a74;
	text-align: center;
	margin-top: 20px;
} */





/* SEWA */
#sewa {
	border-radius: 1rem;
	background-color: #0D28A6;
	padding: 2.5rem;
	width: 75%;
}

#sewa h1 {
	font-weight: bold;
	color: #F1F3FF;
}

#sewa p {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: light;
	font-weight: 300;
	color: #FFFFFF;
	width: 55%;
}



/* FAQ */
#faq {
	margin-top: 5rem;
}

#faq h3 {
	font-weight: bold;
}



/* FOOTER */
#footer {
	background-color: #F1F3FF;
}

#footer p {
	color: rgb(88, 88, 88);
}

#footer-link a {
	color: rgb(88, 88, 88);
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	font-weight: bold;
}

#footer-link a:hover {
	color: rgb(168, 168, 168);
}



/* For Search.html */
#search-bar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

#search-item {
	margin: 20px 10px;
}

#search-item

#car-container {
	/* display: flex; */
	flex-direction: row;
	justify-content: space-between;
}

@media only screen and (max-width: 425px) {
  #navbar-brand {
    font-size: 1.7rem;
    margin: auto 5px;
  }

  #nav-collap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #testimoni-img {
    overflow: hidden;
    border-radius: 2rem;
    width: 100px;
    height: 98px;
  }
}

@media only screen and (min-width: 768px) {
  #navbar-brand {
    margin: auto 5px;
  }

  #nav-collap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #testimoni-img {
    overflow: hidden;
    border-radius: 2rem;
    width: 100px;
    height: 98px;
  }
}

@media only screen and (min-width: 1024px) {
  #nav-collap {
    width: 30%;
  }

  #testimoni-img {
    overflow: hidden;
    border-radius: 2rem;
    width: 140px;
    height: 120px;
  }
}